.BGIMG01
  background-image: url('../assets/curso/tema1/img02.svg')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.BGIMG02
  background-image: url("../assets/curso/tema1/img08.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.BGIMG03
  background-image: url("../assets/curso/tema2/img09.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  

.BGIMG04
  position: relative
  *
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -45px
    margin-top: -1em
    width: calc( 100% + 96px )
    height: 100%       
    background-image: url('../assets/curso/tema1/img04.svg')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: bottom

.BGIMG05
  background-image: url("../assets/curso/tema2/img37.png")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.bg_img48_t2
  position: relative
  *
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -46px
    margin-top: 1em
    width: calc( 100% + 96px )
    height: 100%       
    background-image: url('../assets/curso/tema2/img48.svg')
    background-size: 100% auto
    background-repeat: no-repeat
    background-position: center

.bg_img49_t2
  position: relative
  *
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -53px
    margin-top: -2em
    width: calc( 100% + 101px )
    height: 100%       
    background-image: url('../assets/curso/tema2/img49.svg')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center

.bg_img11_t3
  position: relative
  *
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -53px
    margin-top: -2em
    width: calc( 100% + 101px )
    height: 100%       
    background-image: url('../assets/curso/tema3/img11.png')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center

.bg_img15_t3
  position: relative
  .row .tarjeta-avatar-b .row table
    position: relative
  &::before
    content: ""
    position: absolute
    margin-left: -53px
    margin-top: 4em
    width: calc( 100% + 101px )
    height: 100%       
    background-image: url('../assets/curso/tema3/img15.svg')
    background-size: 100% auto  
    background-repeat: no-repeat
    background-position: center

.BG01
  background-color: #0158A0

.BG02
  background-color:#E8E8E8
  height: 389px

.BG03
  background-color: #F6F5F4

.BG04
  background-color:#008BFD
  border-radius: 120px
  width: 60px

.BG05
  background-color: #C8EEF3
  height: 400px

.BG06
  background-color: #C8EEF3

.BG07
  background-color: #fff
  border-top-left-radius: 25px
  border-top-right-radius: 25px

.BG08
  background-color: #FFFFFF 

.BG09
  background-color: #fff
  border-bottom-left-radius: 25px
  border-bottom-right-radius: 25px

.BG10
  background-color: #B2A4E7

.BG11
  background-color: #5BD3A9

.BG12
  background-color: #C1F6E4

.BG13
  background-color: #F2FBF8

.BG14
  background-color: #008BFD

.BG15
  background-color: #7E5EE3

.BG16
  background-color: #E3E4F6

.BG17
  background-color: #EDEDED

.BG18
  background-color: #E3EBEB

.BG19
  background-color: #0158A0

.img23
  width: 23px

.linea-tiempo-d__item__content__title
  background-color: #DAD3F3 !important

.linea-tiempo-d.color-secundario .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: #8BDAE6

.linea-tiempo-d__item__content__slot
  background-color:#DAD3F3 

.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title
  background-color:#DAD3F3

.linea-tiempo-d__item__number
  background-color: #8BDAE6 !important

ol.lista-img01
  list-style-image: url("../assets/curso/tema2/img11.png")

ol.lista-img02
  list-style-image: url("../assets/curso/tema2/img13.png")

ol.lista-img03
  list-style-image: url("../assets/curso/tema2/img14.svg")

ol.lista-img04
  list-style-image: url("../assets/curso/tema2/img45.png")

ol.lista-img63
  list-style-image: url("../assets/curso/tema2/img45.png")

.img-infografica-b__modal  
  background-color: #FCE3A8
  border-radius: 20px  

.img-infografica-b__modal__contenido div > *
  color: black !important

.text-white, .texto-blanco
  color: white !important

.lista-ol--cuadro__vineta
  background-color: #008BFD

.slyder-a__tipo-a .slyder-a__bullets 
    bottom: 85px
    left: 75%

.slyder-a__btn--sigt, .slyder-a__btn--atrs
    top: 84%

.slyder-a__bullets__item--active 
    background-color: #37876B !important
    border-color: #37876B !important

.slyder-a__bullets__item 
    background-color: #8F4F4F

.slyder-a__tipo-a .slyder-a__btn--atrs 
    left: 500px

.flex-center
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  flex-direction: row;

.banfondo1_t3
  background-image: url("../assets/curso/tema3/img19.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position-x: right

.position02
  position: absolute
  bottom: 0%
  top: -133px
  max-width: 583px
  left: -1%

.position03
  position: absolute
  bottom: 0%
  top: -133px
  max-width: 520px
  left: 50%

.position04
  position: absolute
  bottom: 240px
  max-width: 475px
  left: 5%

.banfondo2_t3
  background-image: url("../assets/curso/tema3/img22.svg")
  background-size: contain
  background-repeat: no-repeat

.banfondo3_t3
  background-image: url("../assets/curso/tema3/img26.svg")
  background-size: contain
  background-repeat: no-repeat
  background-position-x: right
  